.footer
	background: #EBEBE8
	.container
		max-width: 100%
	&__main
		padding: 90px 0 40px
		background: #EBEBE8
		+max-screen($breakpoint-lg)
			padding: 60px 0 40px
		+max-screen($breakpoint-md)
			padding: 14px 27.5px 0 0
		&__logo
			display: block
			width: 150px
			max-width: 100%
			img
				width: 100%
				height: auto
		
		&__text
			margin-top: 28px

		&__nav
			+max-screen($breakpoint-lg)
				padding-top: 40px
			+max-screen($breakpoint-md)
				padding-top: 7px
			h4
				font-size: 12px
				line-height: 1.33
				font-weight: 400
				margin-bottom: 16px 
				+max-screen($breakpoint-md)
				+max-screen($breakpoint-md)
					font-size: 9px
					line-height: 1
					margin-bottom: 0
			ul
				width: 100%
				display: flex
				flex-direction: column
				padding-left: 0
				+max-screen($breakpoint-md)
					padding-top: 8px
			li
				font-size: 12px
				line-height: 1
				+max-screen($breakpoint-md)
					font-size: 9px
				a
					display: inline-block
					font-size: 12px
					line-height: 1.33
					transition: 0.3s ease-out
					+max-screen($breakpoint-md)
						font-size: 9px
					&:hover
						color: $color-primary
				&:not(:last-of-type)
					margin-bottom: 16px
					+max-screen($breakpoint-lg)
						margin-bottom: 12px
					+max-screen($breakpoint-md)
						margin-bottom: 4px

		&__social
			&__list
				display: flex
				gap: 0 44px
				+max-screen($breakpoint-lg)
					gap: 0 14px
				li
					a
						font-size: 12px
						text-decoration: underline
						+max-screen($breakpoint-lg)
							display: block
							height: 10px
							font-size: 0
							text-decoration: none
						img
							width: auto
							height: 100%
		&__newsletter
			max-width: 400px
			+max-screen($breakpoint-lg)
				max-width: unset
				padding-top: 40px
			+max-screen($breakpoint-md)
				padding-top: 7px
			.nf-form-layout.hide 
				display: none 
			label
				line-height: 1
				font-size: 10px
			.nf-form-content .nf-field .field-wrap.email-wrap
				+max-screen($breakpoint-md)
					margin-bottom: 10px
				.nf-field-label
					+max-screen($breakpoint-md)
						display: none 
				.ninja-forms-field
					+max-screen($breakpoint-md)
						line-height: 1
				input[type="email"],
				input[type="email"]::placeholder 
					+max-screen($breakpoint-md)
						font-size: 10px
			p
				font-size: 12px
				line-height: 1.5
				padding-bottom: 15px !important
				+max-screen($breakpoint-md)
					font-size: 9px
					margin-bottom: 0
					line-height: 1.11
					padding-bottom: 5px !important
				strong
					+max-screen($breakpoint-md)
						font-weight: 400
				br
					+max-screen($breakpoint-lg)
						display: none
			.nf-form-cont
				padding-bottom: 7px
				+max-screen($breakpoint-md)
					padding-bottom: 0
		.form 
			.nf-error-msg 
				font-size: 10px
				line-height: 1.35
				+max-screen($breakpoint-md)
					font-size: 8px
			.nf-form-content .nf-field 
				.field-wrap.checkbox-wrap .nf-field-label label
					line-height: 1.45
					font-size: 9px
					margin-left: 20.5px 
					+max-screen($breakpoint-md)
						margin-left: 15px
					&::after 
						width: 11px 
						height: 11px 
						left: -20.5px 
						+max-screen($breakpoint-md)
							width: 9px 
							height: 9px 
							left: -15px 
				.checkbox-wrap label:before
					font-size: 6px
					left: -18.5px
					top: 3px 
					+max-screen($breakpoint-md)
						font-size: 5px
						left: -13.5px 
						top: 2px 
	&__menu__title
		+max-screen($breakpoint-md)
			margin-bottom: 5px
			font-size: 9px
			position: relative
			&::after 
				content: ""
				position: absolute
				top: 1px 
				transform: rotate(90deg) 
				right: -11px
				width: 5px
				height: 8px
				background-image: url('../assets/images/filterArrow.svg')
				background-size: contain
				background-position: centrer
				background-repeat: no-repeat
				transition: .3s 
			a
				font-size: 12px
				+max-screen($breakpoint-md)
					font-size: 9px
	&__main__nav.footer-active
		.footer__menu__title::after 
			transform: rotate(270deg) 
	.footer-nav 
		+min-screen(770px)
			display: block !important
			height: auto !important
		+max-screen($breakpoint-md)
			display: none 
	&__bottom
		padding: 37px 0 30px
		+max-screen($breakpoint-md)
			padding: 12px 0 13px
		&__wrapper
			text-align: center
		&__inner
			display: flex
			justify-content: space-between
			//flex-direction: column
		&__copyright
			font-size: 13px
			+max-screen($breakpoint-md)
				font-size: 9px
				line-height: 1
	


+max-screen($breakpoint-md)
	.footer__menu__title
		position: relative
		width: fit-content
