.collection
    &__item
        +max-screen($breakpoint-lg)
            display: flex
            flex-direction: column
            align-items: center
        img
            width: 100%
            height: auto
        &Title
            padding-top: 10px
            +max-screen($breakpoint-lg)
                padding-top: 15px
                font-size: 16px
    &__container
        +max-screen($breakpoint-md)
            padding-left: 20px
            padding-right: 20px
    &__list
        +flex-layout-cards(4, 52px, 90px)
        +max-screen($breakpoint-xl)
            +flex-layout-cards(3, 30px, 60px)
        +max-screen($breakpoint-lg)
            +flex-layout-cards(2, 30px)
        +max-screen($breakpoint-md)
            +flex-layout-cards(2, 20px)
